# Database
DATABASE_URL="postgresql://setaradapps:setaradapps123@localhost:5432/setaradapps"

# Redis
REDIS_URL="redis://localhost:6379"

# App
PORT=3002
NODE_ENV=development

# WebSocket
WS_PORT=3002
